/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generic rules */

body{
    background-color: rgb(241, 248, 246);
}

h1{
    display: inline;
    vertical-align: middle;
}

button{
    margin-top: 7px;
    padding: 8px;
    border-radius: 20%;
}

ul{
    list-style-type: none;
    margin: 20px;
}

li{
    margin: 10px;
}

/* contenitore titolo */

.container-title{
    height: 70px;
    background-color: white;
}

img{
    vertical-align: middle;
}
/* contenitore principale */
.container-central{
    background-color: white;
    max-width: 900px;
    height: 500px;
    margin: 0 auto;
    margin-top: 30px;
}    

.container-button{
    height: 50px;
    border-bottom: 2px solid rgb(241,248,246);
    padding-left: 25px;
}

#task{
    background-color: rgb(0, 179, 255);
    color: white;
}
    